DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Conserva el encabezado Authorization para Symfony.
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Sirve archivos reales directamente y envía el resto a Symfony.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        FallbackResource /cine-app/public/index.php
    </IfModule>
</IfModule>
